<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--meta http-equiv="Content-Security-Policy" content="script-src 'self' https://apis.google.com"-->
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <script src="https://apis.google.com/js/api.js"></script>
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
    <div class="splash">
      <div class="fa fa-spinner fa-spin"></div>
    </div>
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
