md-card div.card {
  width: 98%;
}

div.subtitle {
  font-weight: bold;
  margin-bottom: 15px;
}

ul {
  margin-top: 0;
  padding-left: 15px;
}

span.rehearsalDate {
  display: inline-block;
  margin-right: 10px;
}

div.active * {
}

div.inactive * {
  color: gray;
}

div.margin {
  margin-bottom: 10px;
}
