<template>
  <require from="./absence.css"></require>

  <md-card repeat.for="sectionAbsence of absence" title="Absence per section" t="[title]reports:absence_title" class="row">
    <div class="subtitle">
      ${getSectionNames(sectionAbsence.sectionContact.sections)}
    </div>

    <ul>
      <li repeat.for="memberAbsence of sectionAbsence.membersAbsence">
        <div class="${memberAbsence.active ? 'active' : 'inactive'} margin">
          <div>${memberAbsence.first_name} ${memberAbsence.last_name} (${memberAbsence.absence_count} <span t="reports:rehearsals">rehearsals</span>)
            ${!memberAbsence.active ? ' - ' + i18n.tr('reports:inactive') : ''}
          </div>
          <div repeat.for="memberAbsenceProject of memberAbsence.absence" class="project">
            <span if.bind="memberAbsenceProject.project.name">${memberAbsenceProject.project.name}:</span>
            <span repeat.for="absence of memberAbsenceProject.absence" class="rehearsalDate">
            ${isoStrToDdMM(absence.rehearsal_date_start)}
          </span>
          </div>
        </div>
      </li>
    </ul>
  </md-card>
</template>
