md-card {
  width: 98%;
}
div.rehearsal-selection {
  margin-bottom: 15px;
}

div.attendance-item {
  width: 375px;
}

div.attendance-name {
  display: inline-block;
  font-weight: bold;
  width: 200px;
  text-align: left;
}

div.attendance-value {
  display: inline-block;
  width: 115px;
  text-align: left;
}
