<template>
  <require from="./show.css"></require>

  <div class="row">
    <md-card title="Attendance in semester" t="[title]reports:attendance_download_title" action="true">
      <div t="reports:attendance_download_body">Download complete attendance in this semester as a CSV file (can be imported in Excel).</div>
      <div slot="action">
        <a if.bind="currentRehearsal" href="${attendanceUrl}" target="_blank" t="reports:download">Download</a>
      </div>
    </md-card>
  </div>

  <div class="row">
    <md-card title="Attendance in rehearsal" t="[title]reports:attendance_rehearsal_title">
      <div if.bind="currentRehearsal" class="attendance-rehearsal">
        <div class="rehearsal-selection">
          <div>${dateTimeFormatted(currentRehearsal.date_start)}</div>
          <div if.bind="currentRehearsal.obligatory" t="reports:obligatory">Obligatory</div>
          <div if.bind="currentRehearsal.information">${currentRehearsal.information}</div>
          <div>
            <button md-button="disabled.bind: disabled;" click.trigger="previousRehearsal()" if.bind="existsPrevious" t="reports:previous">Previous</button>
            <button md-button="disabled.bind: disabled;" click.trigger="nextRehearsal()" if.bind="existsNext" t="reports:next">Next</button>
          </div>
        </div>

        <div if.bind="attendanceSelectedCount === 0" t="reports:attendance_rehearsal_none">No attendance has been registered for this rehearsal.</div>

        <div repeat.for="m_index of attendance.members.length" class="attendance-item">
          <div if.bind="attendanceSelected[m_index] !== -1">
            <div class="attendance-name">
              ${attendance.members[m_index].first_name} ${attendance.members[m_index].last_name}
            </div>
            <div class="attendance-value">
              ${getPresentLabel(attendanceSelected[m_index])}
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
</template>
