<template>
  <div class="paramsContainer">
    <div repeat.for="param of configParams" class="param">
      <div class="name">${param.name}</div>
      <div class="value">${param.value}</div>
    </div>
  </div>
</template>
