<template>
  <div if.bind="membersInactiveForOverAYear.length === 0" t="admin:member_cleanup_none">
    There are currently no members that have been inactive for over a year.
  </div>

  <div if.bind="membersInactiveForOverAYear.length > 0">
    <span t="admin:member_cleanup_intro">Members that have been inactive for over a year:</span>
    <div repeat.for="member of membersInactiveForOverAYear">
      <div>${member.first_name} ${member.last_name}</div>
    </div>

    <button md-button="disabled.bind: disabled;" click.delegate="cleanupMembersInactiveForOverAYear()" t="admin:member_cleanup_execute">Remove members data</button>
  </div>
</template>
