<template>
  <div class="field">
    <md-datepicker container="body" value.bind="editedRehearsal.date_start"
                   label="Start date" t="[label]admin:rehearsal_start_date"
                   placeholder="Set date" t="[placeholder]admin:rehearsal_set_date"
                   class="x"></md-datepicker>
    <md-timepicker value.bind="editedRehearsal.time_start" twelve-hour="false"
                   label="Start time" t="[label]admin:rehearsal_start_time"
                   placeholder="Set time" t="[placeholder]admin:rehearsal_set_time"
                   class="x"></md-timepicker>
  </div>
  <div class="field">
    <md-datepicker container="body" value.bind="editedRehearsal.date_end"
                   label="End date" t="[label]admin:rehearsal_end_date"
                   placeholder="Set date" t="[placeholder]admin:rehearsal_set_date"
                   class="x"></md-datepicker>
    <md-timepicker value.bind="editedRehearsal.time_end" twelve-hour="false"
                   label="End time" t="[label]admin:rehearsal_end_time"
                   placeholder="Set time" t="[placeholder]admin:rehearsal_set_time"
                   class="x"></md-timepicker>
  </div>
  <div class="field">
    <md-checkbox checked.bind="editedRehearsal.obligatory">Obligatory</md-checkbox>
  </div>
  <div class="field">
    <md-input label="Information" t="[label]admin:rehearsal_information" value.bind="editedRehearsal.information"></md-input>
  </div>
  <button type="button" click.delegate="saveRehearsal(rehearsal)" class="action-button save" t="admin:rehearsal_save">Save</button>
  <button type="button" click.delegate="cancelRehearsalEdit()" class="action-button cancel" t="admin:rehearsal_cancel">Cancel</button>
</template>
