<template>
  <div class="field">
    <div class="fieldname" t="admin:rehearsal_start">Start: </div>
    <div class="fieldvalue">${dateTimeFormatted(rehearsal.date_start)}</div>
  </div>
  <div class="field">
    <div class="fieldname" t="admin:rehearsal_end">End: </div>
    <div class="fieldvalue">${dateTimeFormatted(rehearsal.date_end)}</div>
  </div>
  <div if.bind="!rehearsal.obligatory" class="field">
    <div class="fieldname" t="admin:rehearsal_not_obligatory">Not obligatory</div>
  </div>
  <div if.bind="rehearsal.information" class="field">
    <div class="fieldname" t="admin:rehearsal_info">Info: </div>
    <div class="fieldvalue">${rehearsal.information}</div>
  </div>
  <button type="button" click.delegate="editRehearsal(rehearsal)" class="action-button edit" t="admin:rehearsal_edit">Edit</button>
  <button type="button" click.delegate="removeRehearsal(rehearsal)" class="action-button remove" t="admin:rehearsal_remove">Remove</button>
</template>
