<template>
  <div>
    <button type="button" click.delegate="addRehearsal()" class="action-button-x2 add" t="admin:rehearsals_add">Add</button>
    <button type="button" click.delegate="addRehearsalsInNextSemester()" class="action-button-x2 add-semester" t="admin:rehearsals_add_semester">Add semester</button>
  </div>

  <div class="rehearsals">
    <div repeat.for="rehearsal of rehearsals" class="rehearsal">
      <compose if.bind="!(editedRehearsal && editedRehearsal.isEqual(rehearsal))" view="./rehearsal-view.html"></compose>
      <compose if.bind="editedRehearsal && editedRehearsal.isEqual(rehearsal)" view="./rehearsal-edit.html"></compose>
    </div>
  </div>
</template>
