<template>
  <!--section>
    <div repeat.for="section of sections">
      <div class="name">${section.name}</div>
      <div class="scname">${sectionContacts(section).first_name}</div>
    </div>
  </section-->
</template>
