div.width-95pc {
  width: 95%;
}

.rehearsals {
  margin-top: 10px;
}

.rehearsal {
  display: inline-block;
  width: 232px;
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.x {
  display: inline-block;
  width: 100px;
}

.fieldname {
  font-weight: bold;
}

.field {
  margin-bottom: 10px;
}

.action-button {
  width: 103px;
}

.action-button-x2 {
  width: 170px;
}

.rehearsal input[type=text] {
  width: 100%;
}

/* HACK: override the default for narrow screens */
.datepicker-modal {
  max-width: 625px !important;
}
