<template>
  <require from="./admin.css"></require>
  <require from="./admin/sectioncontacts.css"></require>
  <require from="./admin/configuration.css"></require>

  <div class="content collapsible-accordion width-95pc">
    <ul md-collapsible="accordion: false;">
      <li>
        <div class="collapsible-header" t="admin:rehearsals_title">Rehearsals</div>
        <div class="collapsible-body">
          <compose view="./admin/rehearsals.html"></compose>
        </div>
      </li>

      <!--li>
        <div class="collapsible-header"><i class="mdi-maps-place"></i>Section contacts</div>
        <div class="collapsible-body">
          <compose view="./admin/sectioncontacts.html"></compose>
        </div>
      </li-->

      <li>
        <div class="collapsible-header" t="admin:config_title">Configuration parameters</div>
        <div class="collapsible-body">
          <compose view="./admin/configuration.html"></compose>
        </div>
      </li>

      <li>
        <div class="collapsible-header" t="admin:member_cleanup_title">Member cleanup</div>
        <div class="collapsible-body">
          <compose view="./admin/membercleanup.html"></compose>
        </div>
      </li>
    </ul>
  </div>
</template>
