<template>
  <md-colors primary-color="#ee6e73" secondary-color="#26a69a" error-color="#f44336" success-color="#4caf50" link-color="#039be5"></md-colors>

  <require from="./app.css"></require>

  <require from="./nav-bar.html"></require>

  <nav-bar router.bind="router"></nav-bar>

  <div class="page-host">
    <router-view></router-view>
  </div>
</template>
