<template>
  <require from="./memberlist.css"></require>

  <div class="content">
    <div if.bind="initializing" t="memberlist:initializing">Initializing the member list..</div>

    <div if.bind="!initializing && !isError()">
      <md-card repeat.for="memberActionsForSection of memberActionsForSections" title="Members in section" t="[title]memberlist:members_in_section" class="row">
        <div class="section-name">${sectionNameForId(memberActionsForSection.sectionId)}</div>

        <div repeat.for="memberWithActions of memberActionsForSection.membersWithActions"
             class="member-item ${isActive(memberWithActions.member) ? 'member-active' : 'member-inactive'}">
          <div class="member-name">
            ${memberWithActions.member.first_name} ${memberWithActions.member.last_name}
          </div>
          <div class="member-activity">
            ${getDateFromIsoStr(memberWithActions.member.date_from)} -
            ${getDateFromIsoStr(memberWithActions.member.date_to)}
          </div>

          <div if.bind="memberWithActions.importActions.length > 0" class="import-actions">
            <div repeat.for="importAction of memberWithActions.importActions"
                 class="import-action ${importAction.clicked ? 'clicked' : ''">
              <span if.bind="importAction.actionType === MemberImportActionType.ACTIVATE">
                <span t="memberlist:activate">Activate</span>
                ${importAction.from.first_name} ${importAction.from.last_name}
              </span>
              <span if.bind="importAction.actionType === MemberImportActionType.MODIFY">
                <span t="memberlist:modify">Modify</span>
                ${importAction.from.first_name} ${importAction.from.last_name}
                (${sectionIdToName(importAction.from.section_id)})
                -->
                ${importAction.to.first_name} ${importAction.to.last_name}
                (${sectionIdToName(importAction.to.section_id)})
              </span>
              <span if.bind="importAction.actionType === MemberImportActionType.DEACTIVATE">
                <span t="memberlist:deactivate">Deactivate</span>
                ${importAction.from.first_name} ${importAction.from.last_name}
              </span>
              <span if.bind="importAction.actionType === MemberImportActionType.ADD">
                <span t="memberlist:add">Add</span>
                ${importAction.from.first_name} ${importAction.from.last_name}
              </span>
              <button type="button" click.delegate="runAction(memberWithActions, importAction)" t="memberlist:execute">Execute</button>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</template>
