div.section-name {
  font-weight: bold;
  margin-bottom: 15px;
}

.import-overview {
  margin-top: 10px;
  margin-bottom: 10px;
}

.import-actions {
  margin-left: 10px;
}

.import-action {
}

.clicked {
  color: ghostwhite;
}

/*.import-action:hover {
  background-color: ghostwhite;
}*/

div.member-item {
  margin-bottom: 10px;
}

.member-active {
  color: black;
}

.member-inactive {
  color: gray;
}

.member-name {
  display: inline-block;
}

.member-activity {
  display: inline-block;
}
