<template>
  <require from="./register.css"></require>

  <div class="content">
    <div class="row section-contact">
      <select md-select value.two-way="currentSectionContact" change.delegate="onChangeSectionContact()">
        <option disabled selected model.bind="null" t="register:select_sc">Select a section contact</option>
        <option repeat.for="sectionContact of sectionContacts" model.bind="sectionContact">
          ${sectionContact.first_name} ${sectionContact.last_name} (${sectionNameList(sectionContact)})
        </option>
      </select>
    </div>

    <div if.bind="currentSectionContact && currentRehearsal" class="row">
      <md-card t="[title]register:attendance" title="Attendance">
        <div class="rehearsal-selection">
          <div>${dateTimeFormatted(currentRehearsal.date_start)}</div>
          <div if.bind="currentRehearsal.obligatory" t="register:obligatory">Obligatory</div>
          <div if.bind="currentRehearsal.information">${currentRehearsal.information}</div>
          <div>
            <button md-button="disabled.bind: disabled;" click.trigger="previousRehearsal()" t="register:previous">Previous</button>
            <button md-button="disabled.bind: disabled;" click.trigger="nextRehearsal()" t="register:next">Next</button>
          </div>
        </div>

        <div>
          <div repeat.for="m_index of attendance.members.length" class="attendance-item">
            <div class="attendance-name">
              ${attendance.members[m_index].first_name} ${attendance.members[m_index].last_name}
            </div>
            <div class="selections">
              <label repeat.for="attendanceOption of attendanceOptions" class="attendance-selection">
                <input type="radio" name="attendance${m_index}" model.bind="attendanceOption.present" checked.bind="attendanceSelected[m_index]">
                <span class="attendance-selection-name">${attendanceOption.name}</span>
              </label>
            </div>
          </div>
        </div>

        <div>
          <button md-button="disabled.bind: disabled;" click.trigger="save()" t="register:save">Save</button>
        </div>
      </md-card>
    </div>
  </div>
</template>
