.md-select {
  width: 98%;
}

md-card {
  width: 98%;
}

div.rehearsal-selection {
  margin-bottom: 15px;
}

div.attendance-name {
  display: block;
  width: 100%;
  font-weight: bold;
}

div.attendance-item {
  margin-bottom: 5px;
}

/*label.attendance-selection {
  margin-right: 10px;
}*/

div.selections {
  padding-bottom: 10px;
}

span.attendance-selection-name {
  margin-left: 5px;
}
