<template>
  <require from="./reports/show.css"></require>
  <require from="./reports/absence.css"></require>

  <div class="content">
    <compose view="./reports/show.html"></compose>
    <compose view="./reports/absence.html"></compose>
  </div>
</template>
